/* background section element */
.aboutMe {
    background-color: hsl(var(--clr-less-dark));
    padding-block-end: 5rem;
    padding-block-start: 7rem;
    /* make section fill whole screen at minimum */
    min-height: 100vh;
}

/* actual content inside the section */
.content {
    /* responsive grid, see end */
    display: grid;
    grid-template-columns: 4fr 6fr;
    /* grid-template-rows: max-content max-content max-content; */

    grid-template-areas:
        "image title"
        "image content"
        "skills skills"
        "contact contact";
    align-items: start;
    justify-items: center;
    gap: 3em;
}

.title {
    grid-area: title;
    align-self: center;
}

.profilePic {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    grid-area: image;
    box-shadow: var(--shadow-dark);
}

/* description portion */
.text {
    grid-area: content;
    text-align: justify;
}
.desc {
    text-indent: 2rem;
    font-size: var(--fs-500);
}
.tagline{
    margin-block-start: 0.5rem;
    font-size: var(--fs-500);
}
/* decorative line below tagline */
.tagline::after {
    content: "";
    display: block;
    bottom: 0;
    width: 50%;
    height: 1px;
    margin-block-start: 20px;
    background-color: white;
}

/* dropdown menus */
.skills {
    width: 100%;
    grid-area: skills;
    align-items: start;
}
.contact {
    grid-area: contact;
}

/* grid layout for smaller screens */
@media (max-width: 45em) {
    .content {
        grid-template-columns: 20fr;
        grid-template-areas:
            "title"
            "image"
            "content"
            "skills"
            "contact";
        gap: 2em;
    }
    .profilePic {
        width: 70%;
    }
    .desc,.tagline {
        font-size: var(--fs-400);
    }
}
