.contactForm {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "name email"
        "text text"
        "submit submit";
    gap: 1rem;
    position: relative;
}
.label,
.input {
    width: 100%;
    display: block;
}

.input {
    background: none;
    border: none;
    border-bottom: 2px solid hsl(var(--clr-grey));
    color: hsl(var(--clr-white));
}
.input[error="true"] {
    border-color: hsl(var(--clr-accent-r) / 0.5);
}

.input:focus {
    border-color: hsl(var(--clr-white));
    outline: none;
}

.input[error="true"]:focus {
    border-color: hsl(var(--clr-accent-r));
}

/* replace default autofill color */
.input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px hsl(var(--clr-less-dark)) inset !important;
    -webkit-text-fill-color: hsl(var(--clr-light));
}

textarea.input {
    resize: none;
    border: 2px solid hsl(var(--clr-grey));
}

.name {
    grid-area: name;
}
.email {
    grid-area: email;
}
.error {
    position: absolute;
    font-size: 0.8rem;
    color: hsl(var(--clr-accent-r));
}

.textarea {
    grid-area: text;
}

.submit {
    grid-area: submit;
    background: none;
    border: none;
    border-bottom: var(--line-thick) solid hsl(var(--clr-light));
    transition: color 300ms ease-in-out, border-color 300ms ease-in-out;

    padding: 0.5rem;
}

.submit:hover,
.submit:focus {
    color: hsl(var(--clr-white));
    border-color: hsl(var(--clr-white));
}

.submit_disabled {
    grid-area: submit;
    background: none;
    border: none;
    padding: 0.5rem;
    padding-bottom: calc(0.5rem + var(--line-thick));

    color: hsl(var(--clr-accent-g));
}

.statusError {
    top: -7rem;
    white-space: nowrap;
}
