.mainNav {
	display: flex;
	align-items: center;
	/* display: grid;
    place-items: center;
    
    grid-template-columns: 10em minmax(0px, 80vw) 10em; */
	padding-block: 1rem;
	background-color: hsl(var(--clr-dark));
	/* border-bottom: 1px solid hsl(var(--clr-white) / 0.25); */

	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
}

.hamburger {
	display: none;
}

.logo {
	height: 50px;
	color: white;
	justify-self: start;
	padding-inline: 2.5rem;
}

.navButtons {
	display: flex;
	justify-content: space-between;
	/* fill all space not filled by logo */
	width: 100%;
}

.navButton {
	border: 0;
	background: 0;
	cursor: pointer;
	padding-block: 1rem 0;
	margin-inline: clamp(0.875rem, 2vw, 5rem);
	text-decoration: none;
}
.leftContainer > .navButton:first-child {
	margin-inline-start: 0;
}

.navButton::after {
	display: block;
	content: "";
	margin-top: 1rem;
	width: 20px;
	border-bottom: 3px solid hsl(var(--clr-white) / 0.25);
	transition: width 300ms ease-in-out;
}

.navButton:hover::after,
.navButton:focus::after {
	width: 100%;
	border-bottom: 3px solid hsl(var(--clr-white));
}
.navButton.active::after {
	border-bottom: 3px solid hsl(var(--clr-white));
	width: 100%;
}

.navButton_r:hover::after,
.navButton_r:focus::after {
	border-bottom: 3px solid hsl(var(--clr-accent-r));
}
.navButton_r.active::after {
	border-bottom: 3px solid hsl(var(--clr-accent-r));
	width: 100%;
}

.navButton_g:hover::after,
.navButton_g:focus::after {
	border-bottom: 3px solid hsl(var(--clr-accent-g));
}
.navButton_g.active::after {
	border-bottom: 3px solid hsl(var(--clr-accent-g));
	width: 100%;
}
.navButton_b:hover::after {
	border-bottom: 3px solid hsl(var(--clr-accent-b));
}
.navButton_b.active::after {
	border-bottom: 3px solid hsl(var(--clr-accent-b));
	width: 100%;
}

.contactButton {
	border: 0;
	background: 0;
	cursor: pointer;
	padding-block: 1rem;
	position: relative;
	white-space: nowrap;
	margin-inline-end: 3rem;
	text-decoration: none;
}

.contactButton::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	width: 100%;
	border-bottom: 3px solid hsl(var(--clr-light) / 0.25);
	transform: scaleX(100%);
	transition: transform 300ms ease-in-out;
}
.contactButton.active::after {
	transform: scaleX(133%);
	border-bottom: 3px solid hsl(var(--clr-light));
}

.contactButton:hover::after,
.contactButton:focus::after {
	transform: scaleX(133%);
	border-bottom: 3px solid hsl(var(--clr-light));
}

@media (max-width: 45em) {
	.mainNav {
		padding-block: 0.5rem;
		flex-direction: column;
		align-items: start;
	}

	.navButtons {
		flex-direction: column;
		padding-inline-start: 1rem;
		overflow: hidden;
		transition: height 400ms ease-in-out;
	}

	.leftContainer {
		flex-direction: column;
		justify-content: center;
		align-items: start;
	}

	.navButton {
		margin-inline: 0;
	}

	.contactButton {
		width: max-content;
	}

	.contactButton::after {
		transition: border-color 400ms;
	}

	.contactButton.active::after {
		transform: scaleX(100%);
	}
	.contactButton:hover::after,
	.contactButton:focus::after {
		transform: scaleX(100%);
	}
	.logo {
		height: 30px;
		padding-inline: 0;
		align-self: center;
	}

	.hamburger {
		position: absolute;
		display: block;
		width: 50px;
		height: 50px;
		color: white;
		background: none;
		border: none;
		padding: 0;
		margin: 0;
		top: 0;
		left: 0;
		z-index: 1002;
	}
}
