.link {
	text-decoration: none;
	color: inherit;
	/* background-color: hsl(var(--clr-less-dark)); */
    display: grid;
    grid-template-rows: 5rem 2fr;
}

.card {
	/* margin-block: 0.5rem; */
    background-color: hsl(var(--clr-less-dark));
	position: relative;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid red; */
}

.imgContainer {
	height: 100%;
	aspect-ratio: 1 / 1;
	padding: 0;
	margin: 0;
}

.desc{
    /* border: 1px solid red; */
	background-color: hsl(var(--clr-less-dark) / .5);
    padding: 0.25rem;
    text-indent: 1rem;
}

.card::after {
	position: absolute;
	z-index: 2;
	content: "";
	width: 33%;
	height: 3px;
	transition: width 300ms ease-in-out;
	background: 3px solid hsl(var(--clr-white));
	bottom: 0;
	left: 0;
}

/* every single combo of categories to give different gradients */
/* single colors */
.card.accentR::after {
	background: hsl(var(--clr-accent-r));
}
.card.accentG::after {
	background: hsl(var(--clr-accent-g));
}
.card.accentB::after {
	background: hsl(var(--clr-accent-b));
}

/* combination of 2 colors */
.card.accentR.accentG::after {
	background: linear-gradient(
		to right,
		hsl(var(--clr-accent-r)) 50%,
		hsl(var(--clr-accent-g)) 50%
	);
}
.card.accentR.accentB::after {
	background: linear-gradient(
		to right,
		hsl(var(--clr-accent-r)) 50%,
		hsl(var(--clr-accent-b)) 50%
	);
}
.card.accentG.accentB::after {
	background: linear-gradient(
		to right,
		hsl(var(--clr-accent-g)) 50%,
		hsl(var(--clr-accent-b)) 50%
	);
}

/* all 3 colors */
.card.accentR.accentG.accentB::after {
	background: linear-gradient(
		to right,
		hsl(var(--clr-accent-r)) 33%,
		hsl(var(--clr-accent-g)) 33%,
		hsl(var(--clr-accent-g)) 67%,
		hsl(var(--clr-accent-b)) 67%
	);
}

.hover.card::after {
	width: 100%;
}

.title {
	margin-inline-start: 0.5rem;
}

.loading {
	position: absolute;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	aspect-ratio: 1 / 1;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	font-size: var(--fs-700);
	animation: loadingAnim 2s;
	animation-iteration-count: infinite;
	filter: drop-shadow(0 0 1px hsl(var(--clr-dark)));
}

@keyframes loadingAnim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
