.container {
	position: relative;
}

.scrollableList {
	--gap-param: 1rem;
	display: grid;
	grid-auto-flow: column;
	/* all elements create a new column, this gives a flexible approach instead of grid-template-columns */
	grid-auto-columns: 23%;
	gap: var(--gap-param);

	/* adds scrolling */
	overflow-x: auto;
	/* doesn't scroll other elements if you get to the end of this scroll */
	overscroll-behavior-inline: contain;
	scroll-behavior: smooth;

	width: 100%;
}

.scrollableList::-webkit-scrollbar {
	background: none;
	height: 5px;
}
.scrollableList::-webkit-scrollbar-thumb {
	background-color: hsl(var(--clr-white) / 0.5);
}
.snapsInline {
	/* snaps to individual items when scrolling */
	scroll-snap-type: inline mandatory;
}

.scrollButton {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 2;

	border: none;
	padding: 1rem;
	background-color: hsl(var(--clr-dark) / 0.5);
}
.scrollButtonLeft {
	left: 0;
}
.scrollButtonRight {
	right: 0;
}

.snapsInline > * {
	scroll-snap-align: start;
}

@media (max-width: 70em) {
	.scrollableList {
		grid-auto-columns: 30%;
	}
}

@media (max-width: 45em) {
	.scrollableList {
		grid-auto-columns: 85%;
	}
}
