.design-system {
    min-height: 100vh; /* fills up entire screen for small pages */
    margin-block: 2rem;
}

.numbered-title{
    margin-block: 5rem 2rem;
}

.numbered-title > span {
    color: hsl(var(--clr-light) / 0.25);
    font-weight: bold;
}
